# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
build/
flutter_export_environment.sh

# Android
/android/app/debug
/android/app/profile
/android/app/release
android/local.properties

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Podfile.lock
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift

# Web
web/.dart_tool/

# Firebase config (tránh lộ key)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart

# VS Code / IntelliJ / Xcode
.vscode/
.idea/
*.iml
*.ipr
*.iws
.DS_Store

# Logs
*.log
